.navbar-inverse{
  background-color: rgb(4, 82, 122);
}
.navbar-inverse .navbar-header .navbar-brand{
  color:  white;
}
.bname{
  font-family: 'Merriweather', serif;
  text-align: center;
}
body{
  background:url('../home/back.jpg');
  background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}
h4{
  background-color: rgba(245,245,245,0.8);
  line-height: 220%;
}

.header img {
  float: left;
  background: #555;
  border-radius:45px;
  margin-top:-15px;
  margin-right:10px;
  max-width:50px;
  max-height:50px;
}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
