.hei{
  text-align: center;
}
.navbar-inverse .navbar-header .navbar-brand{
  color:  white;
}
#map {
       height: 400px;
       border-radius: 20px;
     }
     td{
       margin: 2px;
       padding: 2px;
     }
     .bname{
       font-family: 'Lobster', cursive;
       text-align: center;
       margin-top: -40px;
     }
     #logo ul li{
       display: inline;
     }
     #logo ul{
margin-top:-30px;
padding: 0;
list-style-type: none;
}
#logo img{
  border-radius: 45px;
}
.header img {
  float: left;
  background: #555;
  border-radius:45px;
  margin-top:-15px;
  margin-right:10px;
  max-width:50px;
  max-height:50px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

body{
  background:url('../home/back.jpg');
  background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}
#myCarousel{
  padding-top: 20px;
  padding-bottom: 20px;
}
#logo{
  padding-top: 10px;
}
.navbar-inverse{
  background-color: rgb(4, 82, 122);
}
.row{
  background-color: rgba(245,245,245,0.6);
}
